.idea
kopie - inne
SO sprawozdanie 2.docx
SO4.zip
SO5.zip
Sprawozdanie 3 Krzysztof Maciejewski.docx
Sprawozdanie 4 SO Krzysztof Maciejewski.docx
Sprawozdanie 5 Krzysztof Maciejewski.docx
SO sprawozdanie 2.docx
S03/.idea
S04/out
S03/out
SO4/.idea
S01/.idea
S01/out
S02/out
SO2/.idea
S05/out
SO5/.idea